<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FootballStatzone</title>
        <link rel="shortcut icon" href="#">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Hallo Du Pimmelnase</h1>
    </body>
</html>